*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body{
  background: url('./photos/photo-1505226755626-21044548b8aa.jpeg') no-repeat center;
  background-size: cover;
  color: hsla(222,30%,110%, .85);
  height: 100vh;
  width: 100vw;
  }





@media screen and (min-width: 900px) {

.navbar-nav{
  margin: 1rem;
  }
  
}
  
  
  
  * {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  padding: 15px;
  
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}



.row {
  margin: 20px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 2px;
  
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
#myBtnContainer .btn {
  border: none;
  outline: none;
  padding: 8px 8px;
  color: hsla(222,30%,110%, .85);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Red Hat Display', sans-serif;
}


/* Add a dark background color to the active button */
.btn.active {
 background-color:hsla(222,0%,70%, .6);
  transition: .7s;
  box-shadow: 3px 3px 20px 5px black;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px black;

}








/* === MODAL === */



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 3.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
#myModal .close {
  position: absolute;
  top: 25px;
  right: 35px;
  color: white;
  font-size: 35px;
  transition: 0.6s;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



